@import 'vars';
@import 'mixins';

html, body {
  height: 100%;
}

body {
  background-color: $silver-100;
  @extend %rubikRegular-400;
  font-size: 18px;
  color: $dark;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.section {
  padding: 60px 0;

  &__header {
    color: $darkBlue-900;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3;

    &-mb30 {
      margin-bottom: 30px;
    }

    &-mb45 {
      margin-bottom: 45px;
    }

    &-mb60 {
      margin-bottom: 60px;
    }

    &-center {
      text-align: center;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  color: #fff;
  background-color: $orange-900;
  padding: 12px 32px;
  border-radius: 5px;
  line-height: 1.3;
  transition: all 0.3s;

  &:focus {
    color: $orange-900;
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
  }

  &:hover {
    color: $orange-900;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 12px rgba($orange-900, 0.2), 0 0 0 2px rgba($orange-900, 0.7);
  }

  &:active {
    color: $orange-900;
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: none;
  }
}

.animation {
  color: $darkBlue-900;
  border-radius: 5px;
  transition: all 0.3s;

  &:focus {
    box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
  }

  &:hover {
    color: $orange-900;
  }

  &:active {
    color: $darkBlue-900;
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    box-shadow: none;
  }
}

.hyperlink {
  text-decoration-line: underline;
  font-size: 20px;
  line-height: 1.5;

  &:focus {
    text-decoration-line: none;
  }

  &:hover {
    text-decoration-line: none;
  }

  &:active {
    text-decoration-line: none;
    text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.df-sb-aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  &__input {
    margin-top: 30px;
    padding: 13px;
    border: 1px solid $gray;
    border-radius: 5px;
    margin-bottom: 12px;
    width: 200px;
    transition: all 0.3s;

    &::placeholder {
      font-size: 14px;
      color: $gray;
      transition: all 0.3s;
    }

    &:focus {
      background-color: #FFFFFF;
      color: $gray;
      box-shadow: 0 0 0 2px $orange-900;
      border-color: transparent;
    }

    &:hover::placeholder {
      color: $darkBlue-900;
      opacity: 0.9;
    }
  }

  &__button {
    width: 200px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &:focus &-img,
    &:hover &-img {
      fill: $orange-900;
    }

    &-img {
      width: 17px;
      height: 16px;
      fill: #fff;
    }
  }
}

.social-list {
  display: flex;
  gap: 13px;

  &__social {
    &-img {
      width: 39px;
      height: 39px;
      stroke: $dark;
      fill: $silver-200;
      border-radius: 50%;
      transition: all 0.3s;

      &:focus {
        fill: $silver-200;
        stroke: $orange-900;
      }

      &:hover {
        fill: $orange-900;
        stroke: #fff;
      }

      &:active {
        fill: #FFF2ED;
        stroke: $orange-900;
      }
    }
  }
}

.restaurant-card {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.10);
  height: 100%;

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(255, 104, 56, 0.50);
  }

  &__name {
    color: $dark;
    font-size: 24px;
    line-height: 1.3;
    margin: 15px 0 20px 20px;
    font-weight: 400;
  }

  &__timetable {
    @extend .df-sb-aic;
    padding-left: 20px;
    padding-right: 20px;

    &-time {
      color: $dark;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.7;
      opacity: 0.9;
      position: relative;
      padding-left: 30px;

      &::before {
        @include pseudo;
        @include pseudo_image_position;
        top: 5px;
        left: 0;
        width: 22px;
        height: 22px;
        background-image: url('../images/icons/watch.svg');
      }
    }

    &-img {
      width: 79px;
      height: 33px;
      fill: $orange-900;
      stroke: #fff;
      transition: all 0.3s;

      &:focus {
        fill: #FFF2ED;
        stroke: rgba(255, 104, 56, 0.70);
      }

      &:hover {
        fill: #FFF;
        stroke: rgba(255, 104, 56, 0.70);
      }

      &:active {
        fill: #FFF2ED;
      }
    }
  }

}