@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 60px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    display: flex;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item:not(:last-child) {
    margin-right: 45px;
    font-size: 18px;
  }
  &__list-item:last-child {
    margin-right: 63px;
  }
  &__list-link {
    color: $dark;
    &--active {
      color: $orange-900;
    }
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
  }
  &__link:not(:last-child) {
    margin-right: 25px;
  }
  &__num {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $orange-900;
    top: -6px;
    right: -6px;
    font-size: 10px;
    color: $white;
    text-align: center;
    line-height: 14px;
  }
}

.delivery .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.delivery {
  &__header {
    font-size: 66px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__time {
    display: block;
    color: $orange-900;
  }
  &__description {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 400;
  }
  &__btn {
    margin-right: 34px;
  }
  &__promise {
    max-width: 450px;
  }
}

.footer {
  background-color: $silver-100;
}

.footer-top {
  padding-bottom: 60px;
  padding-right: 70px;
  border-bottom: 1px solid #ececec;
  display: flex;
  gap: 70px;
  &__link,
  &__contact {
    display: block;
  }
  &__contact {
    padding-bottom: 15px;
  }
  &__link {
    width: max-content;
    padding-bottom: 20px;
  }
  &__social-list {
    display: flex;
    gap: 13px;
  }
  &__item .logo .logo__img {
    margin-bottom: 30px;
  }
  &__form-input {
    padding: 13px;
    border: 1px solid $gray;
    border-radius: 5px;
    margin-bottom: 12px;
    width: 200px;
    &::placeholder {
      font-size: 14px;
      color: $gray;
    }
  }
  &__form-btn {
    background-color: $orange-900;
    border-radius: 5px;
    padding: 13px 0 13px 40px;
    color: #fff;
    width: 200px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 14px;
      left: 38px;
      width: 17px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url('../images/icons/telegram.svg');
    }
  }
  &__contact {
    position: relative;
    padding-left: 30px;
  }
  &__contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__contact--address::before {
    background-image: url('../images/icons/address.svg');
  }
  &__contact--phone::before {
    background-image: url('../images/icons/phone.svg');
  }
  &__contact--email::before {
    background-image: url('../images/icons/email.svg');
  }
}

.footer-bottom {
  text-align: center;
  padding: 30px 0;
  &__version {
    float: right;
    color: $gray;
  }
}

@import 'media';