@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'mixins';

.header {
  padding: 60px 0;
}

.logo {
  transition: box-shadow 0.5s, opacity 0.5s;
  border-radius: 5px;
  display: inline-block;

  &:focus {
    box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.menu {
  @extend .df-sb-aic;

  &__list {
    display: flex;
    margin-right: 63px;
  }

  &__list-item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__list-link {
    color: $dark;

    &--active {
      color: $orange-900;
    }
  }
}

.menu-right {
  display: flex;
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__num {
    position: absolute;
    padding: 0 5px;
    border-radius: 50%;
    background-color: $orange-900;
    top: -6px;
    left: 15px;
    font-size: 10px;
    color: $white;
    line-height: 1.4;
  }
}

.delivery {
  &__header {
    font-size: 66px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__time {
    display: block;
    color: $orange-900;
  }

  &__description {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 400;
  }

  &__button {
    margin-right: 34px;
  }

  &__promise {
    max-width: 450px;
  }

  &__img {
    width: 560px;
    height: 660px;
  }
}

.popular-categories {
  text-align: center;

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    padding-right: 48px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(300px, auto);
    grid-gap: 30px;
    margin-bottom: 60px;
  }
}

.button-burger {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $darkBlue-900;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 1px #ECECEC;
  border-radius: 5px;
  padding: 13px 30px 13px 30px;

  &.mixitup-control-active {
    color: #fff;
    background-color: $orange-900;
  }

  &:focus {
    background-color: #FFFFFF;
    box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
  }

  &:hover {
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
    color: $orange-900;
  }

  &:active {
    background-color: #FFFFFF;
    box-shadow: inset 0 -5px 12px rgba($orange-900, 0.2);
  }
}

.product-card {
  @extend .df-sb-aic;
  flex-direction: column;
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 5px;
  height: 100%;

  &:hover {
    box-shadow: 0 0 0 1px $orange-900;
  }

  &__name {
    text-align: center;
  }

  &__name, &__price {
    font-size: 15px;
  }

  &__price {
    font-weight: 500;
    line-height: 1.4;
    padding-bottom: 10px;
  }
}

.footer {
  background-color: $silver-100;
}

.footer-top {
  padding-bottom: 60px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  gap: 70px;

  &__list {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 70px;
  }

  &__link,
  &__contact {
    display: block;
  }

  &__contact {
    padding-bottom: 15px;
  }

  &__link {
    width: max-content;
  }

  &__contact {
    position: relative;
    padding-left: 30px;

    &::before {
      @include pseudo;
      @include pseudo_image_position;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
    }

    &--address {
      &::before {
        background-image: url('../images/icons/address.svg');
      }
    }

    &--phone {
      &::before {
        background-image: url('../images/icons/phone.svg');
      }
    }

    &--email {
      &::before {
        background-image: url('../images/icons/email.svg');
      }
    }
  }
}

.footer-bottom {
  border-top: 1px solid #ececec;
  text-align: center;
  padding: 30px 0;

  &__version {
    position: absolute;
    right: 0;
    color: $gray;
  }
}
