<body>
  <header class="header">
    <div class="container">
      <nav class="menu">
        <a class="logo" href="#">
          <img class="logo__img picture" src="images/icons/logo.svg" alt="logo" width="200" height="39">
        </a>

        <div class="menu-right">
          <ul class="menu__list">
            <li class="menu__list-item">
              <a class="animation menu__list-link menu__list-link--active" href="#">Главная</a>
            </li>
            <li class="menu__list-item">
              <a class="animation menu__list-link" href="#popular-categories">Блюда</a>
            </li>
            <li class="menu__list-item">
              <a class="animation menu__list-link" href="#contact">Контакты</a>
            </li>
          </ul>

          <ul class="user-nav">
            <li class="user-nav__item">
              <a class="user-nav__link" href="#">
                <span class="sr-only"> поиск товара на странице</span>
                <svg class="user-nav__link-img">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </a>
            </li>
            <li class="user-nav__item">
              <a class="user-nav__link" href="#">
                <span class="sr-only"> перейти к выбранным товарам</span>
                <svg class="user-nav__link-img">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                <span class="user-nav__num">4</span>
              </a>
            </li>
          </ul>

          <button class="burger-button" type="button">
            <span class="burger-button__line"></span>
            <span class="sr-only">Открыть меню</span>
          </button>

        </div>
      </nav>
    </div>
  </header>